<div class="container_small-card">
    <div class="container_small-card-content">
        <div class="small-card_photo">
            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/6DAA31D2EAD43853A24CCBD79A8C38E0EF299DEBEF59CC4100544C65AACC252D/scale?width=1200&aspectRatio=1.78&format=jpeg" alt="">
        </div>
        <div class="small-card_title">
            <h1> <a href="">Saiu nova versão</a> </h1>
        </div>
    </div>
    <div class="container_small-card_separator">
       <hr> 
    </div>
    
</div>
