.container_content{
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.content_cover{
    
}

.content_cover > img{
    border: 5px solid rgba(226, 226, 226, 0.5);
    border-radius: 10px;
    width: 30rem;
    min-width: 30rem;
    height: 17rem;
}
.content_description{
    margin-top: 1rem;
}
.content_description > p{
 color: rgb(204, 204, 204);
 margin-top: 1rem;
}
a{
    background-color: rgba(36, 55, 231, 0.4);
    box-shadow: 2px 2px 9px -2px rgba(36, 55, 231,0.5);
-webkit-box-shadow: 2px 2px 9px -2px rgba(36, 55, 231,0.5);
-moz-box-shadow: 2px 2px 9px -2px rgba(36, 55, 231,0.5);
margin-bottom: .5rem;
border-radius: 2px;
padding: 1px 4px;
}